src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="paymenthub-main">
        <http:listener config-ref="HTTP_Listener_config" path="/payment-hub/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
     
        <apikit:router doc:name="APIkit Router" doc:id="76ec58e9-5799-4bc0-beed-1b0c6e2e76bc" config-ref="api-config"/>
 
    </flow>
    <flow name="post:\paymenthub:application\json:api-config">
		<flow-ref doc:name="sf-paymenthub" doc:id="0ccd3413-9a79-4a50-83d2-2cfbf128c744" name="sf-paymenthub"/>
		<ee:transform doc:name="Transform Message" doc:id="3386ef0d-8d9d-4b14-8bba-e99c0d095ac5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statuscode:payload.msgCode,
	statusmsg:payload.status,
	latststatus :if (payload.msgCode == "201")	
("SENT TO PROCESSOR")
else
("REJECTED")		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
